@media print {
   body {
      color: #000;
      background: yellow;
	  font: 12pt Georgia, "Times New Roman", Times, serif;
line-height: 1.3;
   }
   @page {size: landscape; margin: 1cm;}
   h1.nadpis {font-size:12pt}
}